In [1]:
import pandas as pd
import numpy as np

In [15]:
data_y1 = pd.read_csv('./data/year1-data.csv')
data_y2 = pd.read_csv('./data/year2-data.csv')
testing = pd.read_csv('./data/testing_data.csv')

In [16]:
data_y1['日期'] = data_y1['日期'].str.split('/', n=2,expand=True)[1].astype('category')
data_y2['日期'] = data_y2['日期'].str.split('/', n=2,expand=True)[1].astype('category')
data_y1 = data_y1.iloc[::,0:12]
data_y2 = data_y2.iloc[::,0:12]
data_y1.head()

  日期        測項     0     1     2     3     4     5     6     7     8     9
0  1  AMB_TEMP    17    16    16    16    16    16    17    17    18    18
1  1       CH4     2     2   1.9   1.9   1.9   1.9   1.9   1.9   1.9   1.9
2  1        CO  0.49  0.45  0.39  0.35  0.33  0.36  0.36  0.35  0.38   0.4
3  1      NMHC  0.08  0.07  0.05  0.06  0.04  0.05  0.05  0.05  0.06  0.06
4  1        NO   1.3   1.5   1.3     1   0.9   1.2   1.6   1.7     2   2.8

# 3 Hours for testing

In [17]:
# ['測項','0','1','2','3','4','5','6','7', '8', '9']
data_y1 = data_y1[['測項','5','6','7', '8', '9']]
data_y2 = data_y2[['測項','5','6','7', '8', '9']]
testing = testing[['測項','5','6','7', '8']]

In [18]:
testing.columns.values

array(['測項', '5', '6', '7', '8'], dtype=object)

In [29]:
item_list = list(set( testing['測項'] ))

def modify_df(df, item):
    df = df.reset_index(drop = True)
    df.drop(['測項'],axis = 1,inplace = True)
    df.columns = item + df.columns
    return df

data_y1_item_list = [ modify_df(data_y1[data_y1['測項'] == i], i) for i in item_list]
data_y1_pm25 = modify_df(data_y1[data_y1['測項'] == 'PM2.5'], 'PM2.5')
data_y2_item_list = [ modify_df(data_y2[data_y2['測項'] == i], i) for i in item_list]
data_y2_pm25 = modify_df(data_y2[data_y2['測項'] == 'PM2.5'], 'PM2.5')

In [30]:
print(data_y1_item_list[9].shape)
data_y1_item_list[1]

(366, 5)

    RH5 RH6 RH7 RH8 RH9
0    82  82  79  77  78
1    88  89  90  88  85
2    96  97  98  98  97
3    98  98  98  97  94
4    98  98  98  98  95
..   ..  ..  ..  ..  ..
361  81  80  78  77  73
362  81  80  77  77  75
363  80  83  79  73  67
364  72  71  68  65  60
365  86  87  85  83  81

[366 rows x 5 columns]

In [35]:
data_y1_pm25.drop(['PM2.59'],axis = 1,inplace = False)

    PM2.55 PM2.56 PM2.57 PM2.58
0       31     25     22     26
1       12      5      7      4
2       51     51     51     39
3        1      5      5      5
4        4      5      9     15
..     ...    ...    ...    ...
361      6      9     10      7
362      7     10      9     10
363      8      9     10     12
364     19     19     19     15
365     17     13     12     11

[366 rows x 4 columns]

In [36]:
X_train_y1 = pd.concat(data_y1_item_list, axis = 1)
X_train_y1 = pd.concat( [X_train_y1, data_y1_pm25.drop(['PM2.59'],axis = 1,inplace = False)], axis = 1)
X_train_y2 = pd.concat(data_y2_item_list, axis = 1)
X_train_y2 = pd.concat( [X_train_y2, data_y2_pm25.drop(['PM2.59'],axis = 1,inplace = False)], axis = 1)

In [39]:
y_train_y1 = data_y1_pm25['PM2.59']
y_train_y2 = data_y2_pm25['PM2.59']

In [61]:
y_train_y1.values.astype('float32')

ValueError: could not convert string to float: '1x'

In [50]:
X_train_y1 = X_train_y1.apply(pd.to_numeric, args=('coerce',))
X_train_y2 = X_train_y2.apply(pd.to_numeric, args=('coerce',))

In [78]:
tmp.iloc[20:30,60]

20    0.2
21    0.2
22    2.0
23    0.6
24    NaN
25    NaN
26    NaN
27    NaN
28    NaN
29    1.6
Name: RAINFALL5, dtype: float64

In [89]:
data_y1_item_list[1].columns + 'abc'

Index(['indexabc', '測項abc', '6abc', '7abc', '8abc', '9abc'], dtype='object')

In [84]:
tmp

0      1.4
1      NaN
2      NaN
3      NaN
4      3.3
      ...
361    1.7
362    1.1
363    1.6
364    1.0
365    2.1
Name: 6, Length: 366, dtype: float64